body{
	background-color: #000018;
     color: pink;
     text-align: center;
     font-size: 40px;
     text-transform: uppercase;
     overflow: hidden;
}

h3{
	color: pink;
	font-size: 13px;
	text-transform: none;
}

#game-surface{
	padding-left: 0;
	padding-right: 0;
	margin: auto;
	display: block;
	width: 100%;
	height: 100%;

}